@page
@model CinemaBooking.Pages.LoginRegister.ResetPasswordModel
@{
}
<style>
	body {
		background-color: black;
	}
	.but1 {
		background-color: maroon;
		color: white;
		transition-duration: 0.4s;
		border-radius: 4px;
	}
	.but1:hover {
		background-color: red;
		color: white;
	}
</style>

@if(TempData["success"] != null)
{
	<h2 style="color: white">@TempData["success"]</h2>
}

<form method="post">
	<input hidden asp-for="cust.CustID" />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="pl-3" style="color: white">Reset Password</h2>
			<hr style="color: white"/>
		</div>
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>
		<div class="mb-3" style="color: white">
			<label asp-for="cust.FirstN">First Name</label>
			<input asp-for="cust.FirstN" value="@Model.cust.FirstN" class="form-control" maxlength="50" />
			<span class="text-danger" asp-validation-for="cust.FirstN"></span>
		</div>
		<div class="mb-3" style="color: white">
			<label asp-for="cust.LastN">Last Name</label>
			<input asp-for="cust.LastN" value="@Model.cust.LastN" class="form-control" maxlength="50" />
			<span class="text-danger" asp-validation-for="cust.LastN"></span>
		</div>
		<div class="mb-3" style="color: white">
			<label asp-for="cust.Email">Email Address</label>
			<input asp-for="cust.Email" value="@Model.cust.Email" class="form-control" maxlength="50" />
			<span class="text-danger" asp-validation-for="cust.Email"></span>
		</div>
		<div class="mb-3" style="color: white">
			<label asp-for="cust.Password">Password</label>
			<input asp-for="cust.Password" class="form-control" maxlength="8" />
			<span class="text-danger" asp-validation-for="cust.Password"></span>
		</div>
		<input type="submit" class="btn but1" style="width:150px;" value="Update">
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}