<style>
	.but1 {
		background-color: maroon;
		color: white;
		transition-duration: 0.4s;
		border-radius: 4px;
		font-size: 13.5px;
	}
	.but1:hover {
		background-color: red;
		color: white;
	}
</style>

@using System.Security.Claims
@if (User.Identity.IsAuthenticated) 
{
	<form method="post" style="color:cornsilk" class="form-inline" asp-page="/LoginRegister/Logout">
		Welcome @User.Identity.Name
		<button type="submit" class="btn but1">Logout</button>
		@if (User.HasClaim("manager", "Manager"))
		{
			<a class="btn but1" asp-page="/LoginRegister/UserSettings">
			<i class="bi bi-person-square"></i> &nbsp;Profile</a>
		}
		else @if (User.HasClaim("UserCrewmember", "Crewmember")) {
			<a class="btn but1" asp-page="/LoginRegister/UserSettings">
				<i class="bi bi-person-square"></i> &nbsp;Profile</a>
		}
		else @if (User.HasClaim("UserCustomer", "Customer")) {
			<a class="btn but1" asp-page="/LoginRegister/UserSettings">
				<i class="bi bi-person-square"></i> &nbsp;Profile</a>
		}
	</form>
}
else
{
	<a class="btn but1" asp-page="/LoginRegister/Login">Login</a>
}