@page
@model CinemaBooking.Pages.Customer_SignIn_Model

<style>
    body {
        background-color: black;
    }
</style>

<form method="post">
    <div class="border p-4">
        <h3 style="color:white">Sign In</h3>
        <div class="mb-3" style="color:white">
            Username:
            <br />
            <input asp-for="Customer.Username" style="color:red" />
        </div>
        <div class="mb-3" style="color:white">
            Password:
            <br />
            <input asp-for="Customer.Password" style="color:red" />
        </div>
        <div class="container">
            <button type="submit" class="btn btn-primary" style="background-color:red">
                Submit
            </button>
        </div>
    </div>
</form>
<form method="post">
    <div class="pb-3">
        <br />
        <h4 style="color:white">Need an Account?</h4>
        <br />
        <div class="container">
            <button type="submit" class="btn  btn-primary" class="nav-link" style="background-color: red" asp-area="" asp-page="/Account/Create">Create Account</button>
        </div>
    </div>
</form>