@page
@model CinemaBooking.Pages.BuyModel

<style>
    body{
        background-color:red;
    }
</style>

<form method="post">
    <div class="container">
        <h2 class="p-3" style="color:red">Tickets</h2>
        <br/>
        <h3 class="p-3" style="color:red">@Model.Movies.MovieTitle</h3>
        <br/>
        <h3 class="p-3" style="color:red">Select Location</h3>

    </div>

</form>