@page
@model CinemaBooking.Pages.TicketModel

<style>
    body{
        background-color:black
    }
</style>

<form method="post">
    <div class="container" style="background-color:red">
        <h2 class="p-3" style="color:white">Tickets</h2>
        <br/>
        <h3 class="p-3" style="color:white">@Model.Movie.MovieTitle</h3>
        <br />
        <p>How many Tickets do you wish to buy?</p>
        <input type="number" name="amount" />        
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>