@page 
@model CinemaBooking.Pages.SeatSelection.SeatsModel

<style>
    body{
        background-color:black;
    }
</style>

<form method="post">
    <div class="container" >
        <h2 style="color:red">Pick a Seat</h2>
        <table style="border:double">
            <thread>
                    <tr>
                        <th scope="col"></th>
                    </tr>
            </thread>
            <tbody>
            @foreach(var obj in Model.Seat){
                    if (obj.Availabe == 1)
                    {
                        <tr>
                            <td scope="row">
                                <input type="number" hidden="hidden" name="id" value="@obj.SeatNum"/>
                            <button type="submit" class="btn btn-primary">@obj.SeatNum</button>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</form>