@page
@model CinemaBooking.Pages.CustomerModel

<style>
    body{
        background-color: black;
    }
</style>

<form method="post">
    <div class="border p-4">
        <h3 style="color:white">Sign In</h3>
        <div class="mb-3" style="color:white">
            Username:
            <br />
            <input asp-for="Customer.Username" style="color:red" />
        </div>
        <div class="mb-3" style="color:white">
            Password:
            <br />
            <input asp-for="Customer.Password" style="color:red" />
        </div>
        <div class="container">
            <button type="submit" class="btn btn-primary" style="background-color:red">
                Submit
            </button>
        </div>
    </div>
</form>

<br />
<br />

<form method="post">
    <div class="border p-3 mt-6">
        <div class="row pb-2">
            <h2 style="color:white">
                Create an Account
            </h2>
            <hr />
        </div>
        <div class="mb-3" style="color:white">
            First Name:
            <br />
            <input asp-for="Customer.FirstN" style="color:red"/>
            <span asp-validation-for="Customer.FirstN" class="text-danger"/>
        </div>
        <div class="mb-3" style="color:white">
            Last Name:
            <br />
            <input asp-for="Customer.LastN" style="color:red"/>
            <span asp-validation-for="Customer.LastN" class="text-danger"/>
        </div>
        <div class="mb-3" style="color:white">
            Date of Birth:
            <br />
            <input asp-for="Customer.DOB" style="color:red" />
            <span asp-validation-for="Customer.DOB" class="text-danger"/>
        </div>
        <div class="mb-3" style="color:white">
            Street:
            <br />
            <input asp-for="Customer.Address" style="color:red"/>
            <span asp-validation-for="Customer.Address" class="text-danger"/>
        </div>
        <div class="mb-3" style="color:white">
            City:
            <br />
            <input asp-for="Customer.City" style="color:red"/>
            <span asp-validation-for="Customer.City" class="text-danger"/>
        </div>
        <div class="mb-3" style="color:white">
            State:
            <br />
            <input asp-for="Customer.State" style="color:red"/>
            <span asp-validation-for="Customer.State" class="text-danger"/>
        </div>
        <div class="mb-3" style="color:white">
            Zipcode:
            <br />
            <input asp-for="Customer.ZipCode" style="color:red"/>
            <span asp-validation-for="Customer.ZipCode" class="text-danger"/>
        </div>
        <div class="mb-3" style="color:white">
            Email:
            <br />
            <input asp-for="Customer.Email" style="color:red"/>
            <span asp-validation-for="Customer.Email" class="text-danger"/>
        </div>
        <div class="mb-3" style="color:white">
            Phone Number:
            <br />
            <input asp-for="Customer.PhoneNum" style="color:red"/>
            <span asp-validation-for="Customer.PhoneNum" class="text-danger"/>
        </div>
        <div class="mb-3" style="color:white">
            Username:
            <br />
            <input asp-for="Customer.Username" style="color:red"/>
            <span asp-validation-for="Customer.Username" class="text-danger"/>
        </div>
        <div class="mb-3" style="color:white">
            Password:
            <br />
            <input asp-for="Customer.Password" style="color:red"/>
            <span asp-validation-for="Customer.Password" class="text-danger"/>
        </div>
        <button type="submit" class="btn btn-primary" style="background-color:red">Submit</button>
    </div>
</form>