@page
@model CinemaBooking.Pages.CustomerModel

<style>
    body{
        background-color: black;
    }
</style>

<form method="post">
    <div class="border p-3 mt-6">
        <div class="row pb-2">
            <h2 style="color:red">
                Create an Account
            </h2>
            <hr />
        </div>
        <div class="mb-3" style="color:red">
            First Name:
            <br />
            <input asp-for="Customer.FirstN" style="color:red"/>
        </div>
        <div class="mb-3" style="color:red">
            Last Name:
            <br />
            <input asp-for="Customer.LastN" style="color:red"/>
        </div>
        <div class="mb-3" style="color:red">
            Date of Birth:
            <br />
            <input asp-for="Customer.DOB" style="color:red" />
        </div>
        <div class="mb-3" style="color:red">
            Street:
            <br />
            <input asp-for="Customer.Address" style="color:red"/>
        </div>
        <div class="mb-3" style="color:red">
            City:
            <br />
            <input asp-for="Customer.City" style="color:red"/>
        </div>
        <div class="mb-3" style="color:red">
            State:
            <br />
            <input asp-for="Customer.State" style="color:red"/>
        </div>
        <div class="mb-3" style="color:red">
            Zipcode:
            <br />
            <input asp-for="Customer.ZipCode" style="color:red"/>
        </div>
        <div class="mb-3" style="color:red">
            Email:
            <br />
            <input asp-for="Customer.Email" style="color:red"/>
        </div>
        <div class="mb-3" style="color:red">
            Phone Number:
            <br />
            <input asp-for="Customer.PhoneNum" style="color:red"/>
        </div>
        <div class="mb-3" style="color:red">
            Username:
            <br />
            <input asp-for="Customer.Username" style="color:red"/>
        </div>
        <div class="mb-3" style="color:red">
            Password:
            <br />
            <input asp-for="Customer.Password" style="color:red"/>
        </div>
        <button type="submit" class="btn btn-primary" style="background-color:red">Submit</button>
    </div>
</form>